<h2>Become a Member</h2>

<p>New to Bread Express? Get free shipping with your first order, on us! What are you waiting for?</p>

<br>

<%= link_to "Join", new_customer_path, class: "btn waves-effect waves-light white-text" %>