<h3>Login</h3>

<div class="card">
  <div class="card-content">

    <div class="row">
      <div class="col s5">
        <%= render partial: 'login' %>
      </div>

    <div class="col s1">
      <br><br>
    </div>

    <div class="col s6">
      <%= render partial: 'signup_info' %>
    </div>





    </div>

  </div>
</div>
<br><br>