<% flash.each do |name, msg| %>
	  <div data-alert data-options="animation_speed:500, animation:'fadeOut';" class="alert-box card-panel <%= flash[:notice] ? "success" : "warning" %> radius">
	    <%= msg %>
	 </div>
<% end %>