<%= render "partials/nav_dropdown" %>

<!-- NAV BAR -->
<nav>
  <div class="nav-wrapper">
    <a href="/home" class="brand-logo"><%= image_tag 'logo_be.png' %></a>
    <a href="#" data-activates="collapse" class="button-collapse">
      <i class="mdi-navigation-menu"></i>
    </a>
    <!-- TOP NAV -->
    <ul class="right hide-on-med-and-down">
      <% if !logged_in? %>
      <li><a href="/items">Menu</a></li>
      <li><a href="/login">Log In<i class="mdi-action-lock-open left"></i></a></li>

      <% elsif logged_in? && current_user.role?(:baker) %>
      <li><a href="/items">Menu</a></li>
      <li><a href="/baking_list">Baking List</a></li>
      <li><a class="dropdown-button" href="/user" data-activates="account">Account<i class="mdi-navigation-arrow-drop-down right"></i></a></li>

      <% elsif logged_in? && current_user.role?(:shipper) %>
      <li><a href="/items">Menu</a></li>
      <li><a href="/shipping_list">Shipping List</a></li>
      <li><a class="dropdown-button" href="/user" data-activates="account">Account<i class="mdi-navigation-arrow-drop-down right"></i></a></li>

      <% elsif logged_in? && current_user.role?(:customer) %>
      <li><a href="/items">Menu</a></li>
      <li><a href="/cart"><i class="mdi-action-shopping-cart"></i></a></li>
      <li><a class="dropdown-button" href="/user" data-activates="account">Account<i class="mdi-navigation-arrow-drop-down right"></i></a></li>

      <% elsif logged_in? && current_user.role?(:admin) %>
      <li><a class="dropdown-button" href="/customers" data-activates="customer">Customers<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <li><a class="dropdown-button" href="/customers" data-activates="user">Users<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <li><a class="dropdown-button" href="/addresses" data-activates="address">Addresses<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <li><a class="dropdown-button" href="/orders" data-activates="order">Orders<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <li><a a class="dropdown-button" href="/items" data-activates="item">Items<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a class="dropdown-button" href="/sessions" data-activates="account">Account<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <% end %>
    </ul>
  </div>
</nav>

