<br>
<div class="flat-card" >
  <div class="card-content">
  	<h2> Welcome, <%= current_user.username.capitalize %>.</h2>
  	<br>

  	<%= render partial: 'dashboard_panels' %><br>

	</div>
</div>
<br>