<h1 align="center">About Us</h1>

<h3>Our History</h3>
<p>
	Growing up, twins Alex and Mark Heimann saw their mom make and deliver fresh baked goods to neighbors that brightened up their day. Alex and Mark wanted to create a business that would bring the happiness of delicious hammade baked goods to more than just the neighbors doors and decided to start A&M Bread Express Company. Ever since, Bread Express has expanded to deliver fresh bread, muffins and pastries to over 20 neighborhoods in and around Pittsburgh.
</p><br><br>

<h3>Our Products</h3>
<p>
	Made with 100% organic ingredients, all of our baked goods are fresh and healthy. Using these ingredients and Momma Heimann's recipes, you can expect a smile on your face and in your belly.
</p><br><br>

<h3>Delivery Areas</h4>
	<p>We happily deliver to the areas highlighted in red on the map.</p>
	<%= image_tag("deliver.jpg", class: "materialboxed", width: "650") %>
	<br><br>