<div id="main_content">
<h1 align="center">About Us</h1>
  <div class="col s7">
    <h2>Our History</h2>
    <p>
			Growing up, twins Alex and Mark Heimann saw their mom make and deliver fresh baked goods to neighbors that brightened up their day. Alex and Mark wanted to create a business that would bring the happiness of delicious homemade baked goods to more than just the neighbors and decided to start A&M Bread Express Company. Ever since, Bread Express has expanded to deliver fresh bread, muffins and pastries to over 20 neighborhoods in and around Pittsburgh.
		</p><br>
    <h2>Our Products</h2>
    <p>
			Made with 100% organic ingredients, all of our baked goods are fresh and healthy.With our commitment to using the best ingredients and Momma Heimann's recipes, you can expect a smile on your face and in your belly.
		</p><br>
		<h2>Where We Deliver</h2>
    <%= image_tag("delivery_radius.jpg", class: "materialboxed", width: "250") %>
    <p>We happily deliver to the areas highlighted in red on the map.</p>
  </div>
  <div class="col s4" id="testimonials">
  	<h2>Testimonials</h2>
  	<em>
			"The Honey Wheat Bread is the absolute best. Great tase and hearty. I keeps me going for hours."
			<br>-- Jim, Mt. Washington<br><br>

			"Bread Express has changed my life! The pastries taste so good and look homemade, so I tell my family that I made them. Yay to never having to bake again!"
			<br>-- Christine, Squirrel Hill<br><br>

			"Great quality baked goods and fast delivery. I ordered the day before and it was delivered by the time I woke up around 2pm the next day."
			<br>-- Marley, Downtown<br><br>
		</em>
	<br><br>
  </div>
</div>