<div class="parallax-container">
  <div class="parallax"><%= image_tag 'bread_4.jpg' %></div>
</div>
<div class="section amber">
  <div class="row container">
    <h2 class="header white-text">Welcome to our bakery!</h2>
    <p class="white-text">At Bread Express we make it our mission to deliver fresh, high quality baked goods right to your door. We sell a variety of breads, muffins and pastries that are handmade by our bakers and shipped to you the next day.</p>
  </div>
</div>
<div class="section white">
	<div class="row container">
      <div class="col s4">
        <%= image_tag 'icon_bread.png' %>
        <p>Order bread, muffins and pastries directly through our site.</p>
      </div>
      <div class="col s4">
        <%= image_tag 'icon_bake.png' %>
        <p>Our expert bakers come in each evening to make the items you've ordered using 100% organic ingredients.</p>
      </div>
      <div class="col s4">
        <%= image_tag 'icon_fresh_bread.png' %>
        <p>Shippers arrive the next morning to pack all of your items and have them shipped to your foor by 4:30pm to ensure freshness.</p>
      </div>

    </div>
  </div>