<div class="parallax-container">
  <div class="parallax"><%= image_tag 'bread_2.jpg' %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Welcome to our bakery!</h2>
    <p class="grey-text text-darken-3 lighten-3">At Bread Express we make it our mission to deliver fresh, high quality baked goods right to your door. We sell a variety of breads, muffins and pastries that are handmade by our bakers and shipped to you the next day.</p>
  </div>
</div>