<div id="main_content">
	<h1>Our Privacy Policy</h1>

	<p>
		We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you.
		<br><br>

		We will not sell or rent this information to anyone.We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
		<br><br>

		<em>If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at (555) 555-555 or via email.</em>
		<br><br>
	</p>
</div>