<div id="active" class="col s12">
    <% unless @active_customers.empty? %><br />
    <div class="card">
      <div class="card-content grey-text text-darken-3">
        <table class="hoverable">
          <thead>
            <tr>
              <th align="center">Name</th>
              <th align="center">Phone</th>
              <th align="center">Email</th>
            </tr>
          </thead>

      <% @active_customers.each do |customer| %>
        <tr>
          <td><%= link_to customer.name, customer_path(customer) %></td>
          <td><%= number_to_phone customer.phone %></td>
          <td>
            <div id="email"><%= mail_to customer.email, customer.email, encode: "javascript" %>
            </div>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>

    <!-- Add the pagination using will_paginate gem -->
    <br />
    <span class="paginate">
    <%= will_paginate @inactive_customers, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
    </span>
    <br />
    <% else %>
    <br />

    <!-- No active customers -->
    <div class="card">
      <div class="card-content grey-text text-darken-3">
        <p>No inactive customers at this time</p>
      </div>
    </div>
  <% end %>
</div>