<div id="order_history" class="col s12">
  <% unless @order_history.empty? %><br>
    <div class="card">
      <div class="card-content">
        <h5 class="white-text">Customer Order History</h5>
        <table>
          <thead>
            <tr>
              <th data-field="id">Date</th>
              <th data-field="name">Recipient</th>
              <th data-field="name">Amount</th>
            </tr>
          </thead>

        <% for order in @order_history %>
          <tr>
            <td align="left"><%= link_to order.date.strftime("%m/%d/%y"), order_path(order) %></td>
            <td align="left"><%= order.address.recipient %></td>
            <td align="right">$<%= number_with_precision(order.grand_total, :precision => 2) %></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>

  <!-- Didn't add pagination in orders controller -->

  <!-- No orders -->
  <% else %>
    <br>
    <div class="card">
      <div class="card-content">
        <p>This customer has not placed any orders yet.</p>
      </div>
    </div>
    <br>
  <% end %>
</div>