<% unless @pending_orders.empty? %>
  
  <br>
  <h2>Pending Orders</h2>

  <table class="striped">
    <thead>
      <tr>
        <th width="100">Date</th>
        <th width="300">Recipient</th>
        <th width="100">Cost</th>
      </tr>
    </thead>

    <% @pending_orders.each do |order| %>
    <tr>
      <td align="center" ><%= link_to order.date.strftime("%m/%d/%y"), order_path(order) %></td>
      <td align="center"><%= order.address.recipient %></td>
      <td align="right"><%= number_to_currency order.grand_total %></td>
    </tr>
    <% end %>
  </table>
  <br><br>

<% else %>

  <!-- No orders -->
  <p>You have no pending orders.</p>
  <br><br>

<% end %>