<div id="quick-links">
	<h3>Quick Links</h3>
	<hr>

	<ul>
		<li><%= link_to "New Customer", new_customer_path %></li>
		<li><%= link_to "Users", users_path %></li>
		<li><%= link_to "Addresses", addresses_path %></li>
		<li><%= link_to "Orders", orders_path %></li>
	</ul>
</div>
