<h2>Customers</h2>

<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#active">Active Customers</a></li>
        <li class="tab col s3"><a href="#inactive">Inactive Customers</a></li>
      </ul>
    </div>

  <!-- Show active customers -->
  <%= render partial: "active_customers" %>

  <!-- Show in active customers -->
  <%= render partial: "inactive_customers" %>

</div>

<%= link_to 'New Customer', new_customer_path %>


