<br>

<div class="flat-card" >
  <div class="card-content">

    <% if current_user.role?(:admin) %>
      <h5 class="deep-orange-text"><i class="mdi-navigation-chevron-left"></i><a href="/customers">Customers</a></h5>

      <h1>Customer Details</h1>

    <% else %>
      <h1>My Account</h1>
    <% end %>


    <div class="row">
      <div class="col s12">
        <%= render partial: "customer_details" %>
      </div>
    </div><hr>
    <div class="row">
      <div class="col s8">
        <%= render partial: "pending_order_history" %>
      </div>
    </div><hr>
    <div class="row">
      <div class="col s6">
        <%= render partial: "address_listing" %>
      </div>
    </div>

  </div>
</div>