<br>

<div class="flat-card" >
  <div class="card-content">

    <h5 class="deep-orange-text"><i class="mdi-navigation-chevron-left"></i><a href="/customers">Customers</a></h5>

    <h1>Customer Details</h1>

    <div class="row">
      <div class="col s12">
        <%= render partial: "customer_details" %>
      </div>
    </div><hr>
    <div class="row">
      <div class="col s8">
        <%= render partial: "order_history" %>
      </div>
    </div><hr>
    <div class="row">
      <div class="col s6">
        <%= render partial: "address_listing" %>
      </div>
    </div>

  </div>
</div>