<h2>Customer Details</h2>

<table>
  <tr> 
    <td width="350">
      <%= render partial: "customer_data" %>
    </td>
    <td width="30">&nbsp;</td>
    <td width="220">
    </td>
  </tr>
</table>

<p class="smtext">&nbsp;</p>
<p>&nbsp;
  <%= link_to "Edit", edit_customer_path(@customer) %> |
  <%= link_to "Destroy", @customer.destroy, method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' } %> |
  <%= link_to "View Customers", customers_path %>
</p>