<table class="striped">
  <thead>
    <tr>
        <th data-field="id">Item</th>
        <th data-field="name">Qty</th>
        <th data-field="price">Item Price</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Standard Package<br>
        &nbsp;&nbsp;&nbsp;&nbsp;1 Loaf Honey Wheat Bread<br>
        &nbsp;&nbsp;&nbsp;&nbsp;1 Loaf Cinnamon Swirl Bread<br>
        &nbsp;&nbsp;&nbsp;&nbsp;1 Loaf Sourdough Bread<br>
        &nbsp;&nbsp;&nbsp;&nbsp;1 Dozen Blueberry Muffins<br>
      </td>
      <td>1</td>
      <td>$<%= number_with_precision(@order.grand_total, :precision => 2) %></td>
    </tr>
  </tbody>
</table>