<table class="bordered">
  <thead>
    <tr>
        <th data-field="id">Item</th>
        <th data-field="name">Quantity</th>
        <th data-field="price">Item Price</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Standard Package<br>
        &nbsp;&nbsp;&nbsp;&nbsp;1 Loaf Honey Wheat Bread
        &nbsp;&nbsp;&nbsp;&nbsp;1 Loaf Cinnamon Swirl Bread
        &nbsp;&nbsp;&nbsp;&nbsp;1 Loaf Sourdough Bread
        &nbsp;&nbsp;&nbsp;&nbsp;1 Dozen Blueberry Muffins
      </td>
      <td>1</td>
      <td>---</td>
    </tr>
  </tbody>
</table>