<!-- shipping details -->
<h1>Order Details</h1>

<p class="brown-text">
  <b>Order placed</b>: <%= @order.date.strftime('%B %e, %Y') %>
<p class="brown-text">
  <b>Ship to</b>: <%= link_to @order.address.recipient, address_path(@order.address) %>
</p>
<p>
  <%= render partial: "order_item_list", locals: {order_items: @order_items, date: @order.date} %>
</p>

<p class="brown-text">
  <em>Thanks for being a Bread Express customer since <%= @order.customer.created_at.year %>.</em>
</p>