<h2>Order History:</h2>
<table class="striped">
  <thead valign="top">
    <tr>
      <th data-field="id">Date</th>
      <th data-field="name">Amount</th>
    </tr>
  </thead>

<% for order in @order_history %>
  <tr>
    <td align="left"><%= @order.date.strftime("%m/%d/%y") %></td>
    <td align="right">$<%= number_with_precision(@order.grand_total, :precision => 2) %></td>
  </tr>
<% end %>
</table>
<br />