<% unless @previous_orders.empty? %>
  
  <hr>
  <br>
  <h2>Order History</h2>

  <table class="striped">
    <thead>
      <tr>
        <th width="100">Date</th>
        <% if current_user.role?(:admin) %>
          <th width="300">Customer</th>
          <th width="300">Recipient</th>
        <% else %>
          <th width="100">Recipient</th>
        <% end %>
        <th width="100">Cost</th>
      </tr>
    </thead>

    <% @previous_orders.each do |order| %>
    <tr>
      <td align="center" ><%= link_to order.date.strftime("%m/%d/%y"), order_path(order) %></td>
      <% if current_user.role?(:admin) %>
        <td align="center"><%= link_to order.customer.name, customer_path(order.customer) %></td>
      <% end %>
      <td><%= order.address.recipient %></td>
      <td align="right"><%= number_to_currency order.grand_total %></td>
    </tr>
    <% end %>
  </table>

<% else %>

  <!-- No orders -->
  <p>No orders have been placed yet.</p>

<% end %>