<h3>Quick Links</h3>
<hr>

<% if current_user.role?(:admin) %>
	<ul>
		<li><%= link_to "Customers", customers_path %></li>
		<li><%= link_to "Addresses", addresses_path %></li>
	</ul>
<% else %>
	<ul>
		<li><%= link_to "Addresses", addresses_path %></li>
		<li><%= link_to "My Account", customer_path(current_user.customer) %></li>
	</ul>
<% end %>
