<br>
<div class="flat-card" >
  <div class="card-content">
    <h1>Baking List</h1>

    <div class="row">
      <div class="col s9">
        <%= render partial: "baking_item_list" %>
      </div>

	     <div class="col s3">
	       <%= render partial: "baking_quick_links" %>
	     </div>
    </div>
  </div>
</div>
<br>