<div class="flat-card" >
  <div class="card-content">
  	<p><%= render partial: "baking_item_list", locals: {items: @bread } %></p>
  	<p><%= render partial: "baking_item_list", locals: {items: @muffins } %></p>
  	<p><%= render partial: "baking_item_list", locals: {items: @pastries } %></p>
  </div>
</div>