<br>
<div class="flat-card">
	<div class="card-content">
		<h1>Your Cart</h1>
    <div class="col 8">
    	<% if @items_in_cart.empty? %>
    		<p>Darn, your cart is empty. Treat yourself with something from our bakery!</p>
    	<% else %>
		  	<p><%= render partial: "cart_order_item_list", locals: {order_items: @items_in_cart, date: Date.today} %></p>
		  	<br>
		  	<a class="waves-effect waves-light btn white-text" href="/checkout">Checkout</a>
		  <% end %>
    </div>
	</div>
</div>