<br>
<div class="flat-card" >
  <div class="card-content">
    <h1>Shipping List</h1>

    <div class="row">
      <div class="col s9">
        <%= render partial: 'shipping_order_list' %>	
      </div>

	     <div class="col s3">
	      	<% if logged_in? && current_user.role?(:admin) %>
	        <%= render partial: "shipping_quick_links" %>
	        <% end %>
	     </div>
    </div>
  </div>
</div>
<br>