<div class="flat-card" >
  <div class="card-content">
      <div class="row">
        <div class="col s8">
          <%= render partial: "order_details" %>
        </div>
      </div>
      <div class="row">
        <div class="col s8">
          <br><br>
          <%= render partial: "order_history" %>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>