<br>
<div class="flat-card" >
  <div class="card-content">

  	<% if logged_in? && (current_user.role?(:admin) | current_user.role?(:customer)) %>
  		<h5 class="deep-orange-text"><i class="mdi-navigation-chevron-left"></i><%= link_to "Back", customer_path(@address.customer) %></h5>
		<% end %>

		<h1>Address Details</h1>

		<%= render partial: 'address_info'%>

		<br>

		<% if logged_in? && (current_user.role?(:admin) | current_user.role?(:customer)) %>
			<%= link_to "Edit", edit_address_path(@address), class: "waves-effect waves-light btn white-text" %>
		<% end %>
		<% if logged_in? && current_user.role?(:admin) %>
			<% if @address.is_destroyable? %>
			<%= link_to "Delete", address_path(@address), method: :delete, data: { confirm: 'Are you sure you wish to delete this item?' }, class: "waves-effect waves-light btn white-text"%>
			<% end %>
		<% end %>
	</div>
</div>