<%= f.error_notification %>

<div class="input-field col s12">
	<%= f.input :price, label: "Price *", required: false %>
</div>

<div class="input-field col s12">
	<%= f.date_field :start_date, label: "Start Date", required: false %>
</div>


