<div class="col s12">
	<%= f.error_notification %>
</div>

<div class="input-field col s12">
	<%= f.input :price, as: :string, label: "Price *", required: false %>
</div>

<div class="input-field col s12"> 
	<%= f.input :start_date, as: :hidden, input_html: {value: Date.today} %>
</div>