<div class="row">
  <div class="input-field col s6">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="input-field col s6">
    <%= f.label :start_date %>
    <%= f.text_field :start_date %>
  </div>
</div>

