<h1>Menu</h1>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a class="active" href="#bread">Bread</a></li>
      <li class="tab col s6"><a href="#muffins">Muffins</a></li>
      <li class="tab col s6"><a href="#pastries">Pastries</a></li>
    </ul>
  </div>
</div>

<br>

<div class="row">
  <div class="col s12">
		<%= render partial: "item_bread" %>
		<%= render partial: "item_muffins" %>
		<%= render partial: "item_pastries" %>
	</div>
</div>