<br>
<h2>Price History</h2>

<table class="striped">
  <thead>
    <tr>
      <th data-field="price">Price</th>
      <th data-field="start_date">Start Date</th>
      <th data-field="end_date">End Date</th>
    </tr>
  </thead>

  <% @item.item_prices.chronological.each do |ip| %>
    <tr>
      <td><%= number_to_currency ip.price %></td>
      <td><%= ip.start_date.strftime("%m/%d/%y") %></td>
      <% if ip.end_date.nil? %>
        <td>N/A</td>
      <% else %>
        <td><%= ip.end_date.strftime("%m/%d/%y") %></td>
      <% end %>
    </tr>
  <% end %>
</table>