<ul class="section table-of-contents">
  <li><a href="#breads" class="active">Breads</a></li>
  <li><a href="#muffins" class="">Muffins</a></li>
  <li><a href="#pastries" class="">Pastries</a></li>
</ul>