<br>
<div class="flat-card">
	<div class="card-content">

		<% if logged_in? && current_user.role?(:admin) %>
			<%= render partial: "index_admin" %>
		<% else %>
			<%= render partial: "index_customer" %>
		<% end %>
	</div>
</div>
<br>