<div class="flat-card">
	<div class="card-content">
		<h1>Items</h1>

		<% if @active_items.empty? %>
			<p>No active items at this time.</p>
		<% else %>
			<%= render partial: "item_bread" %>
			<%= render partial: "item_muffins" %>
			<%= render partial: "item_pastries" %>
		<% end %>
	</div>
</div>