<div class="card">
  <div class="card-content">

    <div class="row">
    	<br>
      <div class="col s4">
      	<%= render partial: "item_image" %>
      </div>
      <div class="col s8">
        <%= render partial: "item_details" %>
      </div>
    </div>
    <div class="row">
    	<br>
      <div class="col s4">
      	<%= render partial: "similar_items" %>
      </div>
    </div>

  </div>
</div>
<br><br>