/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require materialize
 *= require addresses
 *= require jquery-ui
 */

.alert-box {
  position: absolute;
  width: 81%;
  top: 76px;
  z-index: 1;
  text-align: center;
  color: #84634A;
}

#quick-links {
	margin-left: 10%;
}

#welcome-flash {
	margin-left: 10%;
}

// all pages
.page-footer a {
	color: #B19D8B;
}

hr {
	border: 1px solid #B19D8B;
}

.pagination {
	color: #FA333B;
}

#background {
	background: #FFD14C;
}

#container {
	background: #fff;
}

.error {
	color: #FF7400;
	font-size: 12px;
}

.error_notification {
	color: #FF7400;
	font-size: 12px;
}

// home page

#welcome {
	font-size: 18px;
}

#how_it_works {
	color: #B19D8B;
}

.parallax-container .parallax {
	z-index: 0;
}

// about page

#testimonials {
	font-size: 12px;
	color: #FF7400;
}

